@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.spring-box {
  width: 100px;
  height: 50px;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.container {
  padding: 20px;
}
section {
  margin-bottom: 40px;
}
label {
  display: block;
  margin-top: 10px;
}
input[type="range"] {
  width: 100%;
}